@import "tailwindcss";
:root{
  --main-color: #202D8B;
  --main-color-light: #3a469e;
  --main-color-lighter: #5d67b3;
  --title-font: "Concert One", sans-serif;
  --light-gray: #E3E3E3;
  --light-gray-2: #D9D9D9;
  --light-gray-3: #F0F0F0;
}

html {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,h2,h3,h4{
  font-family: var(--title-font);
  font-weight: 400;
  font-style: normal;
}

p,input,li, button{
  font-family: Arial, Helvetica, sans-serif;
}

.rounded-button{
  border-radius: 1rem;
  border: none;
  
}

.blue-rounded-button{
  background-color: var(--main-color);
  padding: 1rem;
  color: white;
  font-weight: bold;
  transition: all 0.3s;
}

.blue-rounded-button:hover{
  background-color: var(--main-color-light);
}

.blue-rounded-button:active{
  background-color: var(--main-color-lighter);
}

.label-input-login{
  font-family: var(--title-font);
  font-size: 1rem;
  font-weight: normal;
}

.input-login{
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: none;
  background-color: var(--light-gray);
}

@media(min-width: 1024px){
    .input-login{
      padding: 1rem;
    }
}

.scrollbar-fade {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0) transparent;
  transition: scrollbar-color 0.3s ease;
}

.scrollbar-fade:hover {
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}

.scrollbar-fade::-webkit-scrollbar {
  width: 8px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.scrollbar-fade:hover::-webkit-scrollbar {
  opacity: 1;
}

.scrollbar-fade::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.input-product-display{
  font-size: 1rem;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.input-product-display:focus{

  outline: 1px solid rgb(128, 128, 128);
}

.input-product-display-label{
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.125rem;
}